
body {
	width:960px;
}

#product-options {
	width: 900px;
	margin: auto;
}

#picture1, #picture2, #picture3 {
	height: 250px;
	border-radius: 25px;
	border: solid;
	border-color: black;

}

ul {
	width: 50%;
	margin: auto;
}

li {
	margin: 10px 0;
}
